services:
  mongodb:
    image: mongo:7
    container_name: baazarify-mongo
    restart: unless-stopped
    ports:
      - '27017:27017'
    volumes:
      - mongodb_data:/data/db
    environment:
      MONGO_INITDB_DATABASE: baazarify

  redis:
    image: redis:7-alpine
    container_name: baazarify-redis
    restart: unless-stopped
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes

  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    container_name: baazarify-api
    restart: unless-stopped
    ports:
      - '4000:4000'
    depends_on:
      - mongodb
      - redis
    environment:
      NODE_ENV: development
      PORT: 4000
      MONGODB_URI: mongodb://mongodb:27017/baazarify
      REDIS_URL: redis://redis:6379
    volumes:
      - ./apps/api/src:/app/apps/api/src
      - ./packages:/app/packages

volumes:
  mongodb_data:
  redis_data:
