@import 'tailwindcss';
@source "../../../../packages/ui/src/**/*.tsx";
@import '@baazarify/ui/styles';

@theme inline {
  --color-background: var(--grey-50);
  --color-foreground: var(--grey-900);
  --font-sans: 'DM Sans', system-ui, sans-serif;
  --font-display: 'Playfair Display', Georgia, serif;
  --font-mono: 'JetBrains Mono', monospace;
}
